.audio-pond-menu {
  position: fixed;
  top: 0;
  left: -325px;
  width: 300px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* or whatever container height you need */
  background-color: #352525;
  box-shadow: 1px 8px 11px #000000;
  z-index: 1000;
  border-radius: 0 0 13px 0;
  padding: 10px;
  margin: 0;
  font-size: smaller;
  transition: left 0.3s ease-in-out;
}

.audio-pond-menu.open {
  left: 0;
}

.menu-scrollarea {
  height: calc(100% - 50px);
  overflow-y: scroll;
  padding-right: 10px;
  box-sizing: border-box;
}

.menu-button {
  position: absolute;
  background: #352525;
  border: none;
  color: #ffffff;
  font-size: 24px;
  padding: 10px;
  box-shadow: 3px 3px 3px #000000;
  border-radius: 0 0 13px 0;
  cursor: pointer;
  top: 0;
  right: -46px;
  z-index: 1001;
}


.menu-button:focus {
  outline: none;
}

.audio-list {
  list-style: none;
  padding: 20px 0 0 0;
  margin: 0;
  flex: 1;
  overflow-y: auto;
  list-style: none;
  padding: 20px 0 0 0;
}

.audio-list li {
  display: flex;
  padding: 8px 0;
}

.audio-item.playing {
  background-color: #4a4a4a;
  color: #eebb00;
}


.audio-item {
  position: relative;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.8s ease-out;
}

.audio-item:hover {
  background-color: #4a4a4a;
}

.audio-label {
  position: absolute;
  top: 0px;
  color: #ffffff;
  font-weight: bold;
}

.loading-spinner {
  font-size: 12px;
  color: #888;
  display: block;
}

.error-text {
  color: #c00;
  font-size: 12px;
}