.blob-display {
  /* hide the display by default
      for debugging purposes - wiley
  */
  /* display: none; */
  font-family: monospace;
  max-height: 300px;
  overflow-y: auto;
}

.blob-line {
  opacity: 1;
}

.blob-line.inactive {
  opacity: 0.3;
}

.fade-out {
  animation-name: fadeOutOpacity;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes fadeOutOpacity {
  from {
    opacity: 0.58;
    background-color: rgb(255, 255, 0);
  }

  to {
    opacity: 0.01;
    background-color: blue;
  }
}