.audio-pond-menu {
  position: fixed;
  top: 0;
  right: -350px;
  width: 350px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* or whatever container height you need */
  background-color: #3b3b3b;
  box-shadow: 1px 8px 11px #000000;
  z-index: 1000;
  border-radius: 0 0 0 13px;
  margin: 0;
  font-size: smaller;
  transition: right 0.3s ease-in-out;
}

.audio-pond-menu.open {
  right: 0;
}

.audio-list {
  list-style: none;
  padding: 20px 0 0 0;
  margin: 100px 0 0 0;
  flex: 1;
  overflow-y: scroll;
  height: calc(100vh - 180px);
  list-style: none;
}

.audio-list li {
  display: flex;
}