.audio-pond-menu {
  position: fixed;
  top: 0;
  left: -325px;
  width: 300px;
  background-color: #352525;
  box-shadow: 1px 8px 11px #000000;
  z-index: 1000;
  border-radius: 0 0 13px 0;
  padding: 10px;
  margin: 0;
  font-size: smaller;
  transition: left 0.3s ease-in-out;
}

.audio-pond-menu.open {
  left: 0;
}

.menu-button {
  position: absolute;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
  top: 0;
  right: -68px;
  z-index: 1001;
}


.menu-button:focus {
  outline: none;
}

.audio-list {
  list-style: none;
  padding: 20px 0 0 0;
}

.audio-list li {
  display: flex;
  padding: 8px 0;
}

.audio-list li:last-child {
  border-bottom: none;
}

.audio-item {
  position: relative;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.8s ease-out;
}

.audio-item:hover {
  background-color: #4a4a4a;
}

.audio-label {
  position: absolute;
  top: 0px;
  color: #ffffff;
  font-weight: bold;
}