#root {
  margin: 0 auto;
  text-align: center;
}


.app-blobular {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  min-height: 100vh;
}

.card {
  padding: 2em;
}

.version-text {
  font-size: 10px;
  color: #ccc;
  text-align: center;
  margin-top: 4px;
}