#root {
  margin: 0 auto;
  text-align: left;
}


.app-blobular {
  width: 100vw;
}

.welcome-screen {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-screen .description {
  font-size: 1em;
  padding: 0 20px;
}

.version-text {
  font-size: 14px;
  color: #ccc;
  text-align: left;
  padding: 4px 0 4px 58px;
}

.blobular-title-chunk.left-side {
  padding-left: 52px;
}