.menu-button {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: -81px;
  width: 76px;
  height: 55px;
  padding: 10px;
  background-color: #3b3b3b;
  border-radius: 0 0 0 13px;
  border: none;
  box-shadow: -3px 3px 3px #000000;
  color: #ffffff;
  font-size: 24px;
}

.menu-button:focus {
  outline: none;
}

.record-button {
  cursor: pointer;
  position: absolute;
  left: -81px;
  top: 58px;
  width: 76px;
  height: 55px;
  padding: 10px;
  background: rgba(38, 0, 255, 0.461);
  border-radius: 13px 0 0 13px;
  box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.9);
  color: #ff1744;
  transition: background 0.3s, transform 0.3s;
}

.record-button.recording {
  background: rgba(255, 23, 68, 1);
  color: rgba(38, 0, 255, 0.461);

}

.record-button:hover {
  background: rgba(255, 23, 68, 0.2);
  color: rgba(38, 0, 255, 0.461);
  outline: none;
  border: none;
}

.record-button.recording:hover {
  background: rgba(255, 23, 68, 1);
}


.record-button:focus {
  outline: none;
}

@keyframes fadeWhiteBlack {
  0% {
    color: #ffffff;
    font-weight: 300;

  }

  50% {
    color: #000000;
    font-weight: 900;

  }

  100% {
    color: #ffffff;
    font-weight: 300;
  }
}

.recording-button-status {
  position: absolute;
  top: 21px;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ff1744;
  font-size: 11px;
  text-align: center;

  pointer-events: none;
}

.record-button.recording .recording-button-status {
  animation: fadeWhiteBlack 2s infinite ease-in-out;
  font-weight: 900;
}

.update-button {
  cursor: pointer;
  position: absolute;
  left: -81px;
  top: 118px;
  width: 76px;
  height: 55px;
  padding: 12px;
  border-radius: 13px 0 0 13px;
  border: none;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
  background: rgba(102, 255, 0, 0.5);
  color: #ff1744;
  transition: background 0.3s, transform 0.3s, box-shadow 0.8s;
}

.update-button:hover {
  background: rgba(255, 23, 68, 0.2);
  outline: none;
  border: none;
}

.update-button:focus {
  outline: none;
}

.update-button:disabled {
  background: rgba(255, 23, 68, 0.1);
  color: #000000;
  cursor: not-allowed;
}

.button-upload-container {
  cursor: pointer;
  position: absolute;
  left: 220px;
  top: 16px;
  width: 50px;
  height: 50px;
  padding: 12px;

  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
  color: #ff1744;
  transition: background 0.3s, transform 0.3s, box-shadow 0.8s;
}

.upload-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.upload-button:hover {
  opacity: 0.8;
}

.upload-button:focus {
  outline: none;
}