/* Record Menu Button
   modifies .menu-button */
.menu-button.record-menu-button {
  top: 55px;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}

.waveform-container {
  width: 100%;
  max-width: 600px;
  margin-top: 16px;
}

.record-button {
  position: absolute;
  left: 16px;
  top: 16px;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  padding: 12px;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  color: #ff1744;
  font-size: 24px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
  transition: background 0.3s, transform 0.3s, box-shadow 0.8s;
}

.record-button.recording {
  background: rgba(255, 23, 68, 0.1);
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.9);
}

.record-button:hover {
  background: rgba(255, 23, 68, 0.2);
  outline: none;
  border: none;

}

.record-button:focus {
  outline: none;
}

.recording-status {
  position: absolute;
  top: 48px;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ff1744;
  font-size: 11px;
  z-index: -2;
}