.audio-item {
  position: relative;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s ease-out;
  margin: 16px;
  border: #4a4a4a 2px solid;
  background-color: #282c34;
  color: white;
}

.audio-item:hover {
  background-color: #4a4a4a;
}

.audio-label {
  position: absolute;
  bottom: 8px;
  color: #ffffff;
}

.loading-spinner {
  font-size: 12px;
  color: #888;
  display: block;
}

.error-text {
  color: #c00;
  font-size: 12px;
}

.recorded-item {
  position: relative;
  padding: 16px;
  background-color: #282c34;
  color: white;
}

.icon-button {
  position: absolute;
  right: 8px;
  bottom: 8px;
  background-color: transparent;
  border: none;
  color: white;
  padding: 0;
  cursor: pointer;
  z-index: 10;
}

.icon-button {
  top: 8px;
  height: 32px;
  width: 32px;
}

.save-button {
  bottom: 8px;
  left: 8px;
  height: 32px;
  width: 32px;
}

.play-button {
  top: auto;
  bottom: 8px;
  height: 32px;
  width: 32px;
}

.delete-button {
  position: absolute;
  right: auto;
  left: 8px;
  top: 8px;
  background-color: transparent;
  border: none;
  color: white;
  padding: 0;
  cursor: pointer;
}

.play-recorded:hover,
.icon-button.playing {
  color: #eebb00;
}

.icon-button:focus {
  outline: none;
}

.icon-button .lucide {
  stroke-width: 2px;
  width: 24px;
  height: 24px;
  vertical-align: baseline;
}